/* ini css */

nav{
    display: flex;
    justify-content: space-between;
    background-color:bisque;

}

nav>section{
    display: flex;
    align-items: center;
}

hr{
    border: 1px solid beige
}


p {
    margin-left: 13px;
    margin-top: 3px;
}

header{
    margin-left: 13px;
    margin-top: 3px;
}

.logo-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-repeat: no-repeat;
}



.nav-item {
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
}

.selection-container {
    background-color:bisque;
    
}

.banner-container {
    height: 258px;
    position: relative;
    overflow: hidden;
}

.banner-img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.sop-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    height: 130px;
    width: auto;
    align-items: normal;
}


.logo-icon1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(../css/image/Persyaratan.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-icon2 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(../css/image/images\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-icon3 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(../css/image/image\ 3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: center;
    }

    .message-us-section {
        display: flex;
    }
}
    article.form table .table-row td.input-table .input-text {
        width: 180px;
        height: 30px;
        padding: 2px 3px;
    }

    article.form input#btn-submit{
        width: 271px;
        padding: 5px 10px;
        color: rgb(12, 12, 12);
        background: linear-gradient(to right, #4CAF50, #81C784);
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease, transform 0.3s ease;
        margin-left: 13px;
    }

    .form-result {
        height: 100%;  
    }       

    .result-container {
        width: 100%   
    }

    table{
        margin-left: 13px;
        margin-top: 3px;
    }

    footer {
        font-size: 12px;
        text-align: center;
        
    }
    